.filter-mails{
    grid-column: 3;
    grid-row: 1;
    width: auto;
    height: 3em;
    align-self: center;
    justify-self: start;
    margin-left: 2em;
    background-color: #eaf1fb;
    border-radius: 1em;
}