 /* mail list */

 .mails-list{
    grid-column: 3;
    grid-row: 2;
    
    margin-right: 2em;
    margin-left: 2em;
    border-radius: 1em;
    justify-content: top;
 }

 .mails-list:first-child{
   border-top: 5px solid #dadce0ce;
   border-radius: 7em;
}



