.mail-preview{
    grid-template-columns: 300px 1fr 160px 100px;
    font-size: 1.2em;

    align-items: center;
    height: 2em;
    padding-left: 20px;
    border-top: 0.1px solid #dadce0ce;
}

.mail-preview .buttens {
   display: none;
   flex-flow: row;
}


.mail-preview.read{
    background-color: #eaf1fb;
 }

 .mail-preview-subject{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-right: 20px;
 }

 .mail-preview:hover{
    border: 1px solid #dadce083;
 }

 .mail-preview:hover .buttens {
   display: inline-block;
}