.mail-preview{
    grid-template-columns: 300px 1fr 160px;
    font-size: 1.2em;
    line-height: 16px;
    overflow-x: hidden;
    align-items: center;
    height: 2em;

}

.mail-preview.read{
    background-color: #eaf1fb;
 }