/* Mobile Only */
@media (max-width: 900px) {
    .mail-preview {
    grid-template-columns: 1fr 3.5fr 0.5fr;
}
    .filter-mails {
        grid-column: 1;
        grid-row: 1;

    }

    .mails-list {
        grid-column: 1;
        grid-row: 2;

    }

    .search-bar {
        width: 80vw;
    }
}

/* Small
@media (min-width: 640px) {
} */

/* Medium */
@media (min-width: 900px) {
    .mails-container {
        grid-template-columns: 1fr 3.5fr 8.3fr;
    }

    .mail-preview {
        grid-template-columns: 0.11fr 1fr 0.82fr 0.53fr;
    }

    .search-bar {
        width: 40vw;
    }

    .mails-list {
        grid-column: 3;
        grid-row: 2;

    }

    .filter-mails {
        grid-column: 3 ;
        grid-row: 1 ;
    }

     .mail-preview:hover {
        border: 2px solid #dadce083;
     }

     .mail-preview:hover .mail-preview-date {
        display: none;
     }

     .mail-preview:hover .buttens {
        display: inline-block;
     }
     .star:hover{
        background-color: rgba(151, 148, 148, 0.397);
        border-radius: 2em;
        }
}

/* } */

/* Large */
@media (min-width: 1020px) {

    .mails-container {
        grid-template-columns: 70px 250px 1fr;
    }

    .mail-preview {
        grid-template-columns: 35px 300px 1fr 160px;
    }
}