/* Mobile Only */
@media (max-width: 900px) {
    .mail-preview {
        grid-template-columns: 1fr 3.5fr 0.5fr;
    }

    .mail-folder-list {
        display: none;
    }

    .mail-preview-from {
        grid-column: 2;
        font-size: 0.7em;
    }

    .mail-preview-subject {
        grid-column: 2;
        font-size: 0.5em;
    }

    .mail-preview-date {
        grid-column: 1;
        font-size: 0.5em;
    }

    .star {
        grid-column: 1;
        font-size: 0.6em;
    }

    .sender-logo {
        text-align: center;
        grid-column: 3;
        border-radius: 50%;
        width: 1em;
        background-color: dodgerblue;
    }

    .filter-mails {
        grid-column: 1;
        grid-row: 1;

    }

    .mails-list {
        grid-column: 1;
        grid-row: 2;

    }

    .search-bar {
        width: 80vw;
    }

    .mails-container .logo {
        display: none;
    }

}

/* Small
@media (min-width: 640px) {
} */

/* Medium */
@media (min-width: 900px) {
    .mails-container {
        grid-template-columns: 1fr 3.5fr 8.3fr;
    }

    .mail-preview {
        grid-template-columns: 0.11fr 1fr 0.82fr 0.53fr;
        font-size: 1.2em;
    }

    .search-bar {
        width: 40vw;
    }

    .mails-list {
        grid-column: 3;
        grid-row: 2;

    }

    .filter-mails {
        grid-column: 3;
        grid-row: 1;
    }

    .mail-preview:hover {
        border: 2px solid #dadce083;
    }

    .mail-preview:hover .mail-preview-date {
        display: none;
    }

    .mail-preview:hover .buttens {
        display: inline-block;
    }

    .star:hover {
        background-color: rgba(151, 148, 148, 0.397);
        border-radius: 2em;
    }

    .mail-preview-date {
        font-size: 0.85em;
    }

    .mail-preview-subject {
        margin-right: 20px;
    }

    .sender-logo {
        display: none;
    }

    .mail-folder-list {
        display: block;
    }

    .mails-container .logo {
        display: block;
    }
}

/* } */

/* Large */
@media (min-width: 1020px) {

    .mails-container {
        grid-template-columns: 70px 250px 1fr;
    }

    .mail-preview {
        grid-template-columns: 35px 300px 1fr 160px;
    }
}