.header-keep {
    display: flex;
    align-items: center;
    justify-content: space-evenly
}

.box-keep {
    display: flex;
    align-items: center;
}

.name-logo {
    font-size: 1.6em;
    margin-left: 0.2em;
    color: rgba(0, 0, 0, 0.26);
    font-family: 'Poppins', sans-serif; 
    font-weight: 600; 
    letter-spacing: 0.05em;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2); 
    border-radius: 15px;
    padding: 0.2em 0.5em;
}

.Hamburger-list {
    font-size: 1.5em;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease
}

.Hamburger-list:hover {
    transform: scale(1.1);
}

.header-keep .header-image {
    width: 50px;
    margin-left: 2em;
}

.header-none {
    margin: 0 0.8em;
    width: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease
}

.header-none:hover {
    transform: scale(1.1);
}

.note-index input {
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ddd;
    width: 35em;
    display: block;
    margin: 1em 1em;
}

.note-index input:focus {
    border-color: #007bff;
    outline: none;
}