.note-list {
    columns: 3; 
    column-gap: 50px; 
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 1200px; 
    margin: 20px auto;
    padding-right: 40px;
}

.note-list p {
    color: #888;
    font-size: 16px;
    text-align: center;
    font-style: italic;
}

.note {
    display: inline-block; 
    width: 100%;
    break-inside: avoid; 
    margin-bottom: 20px;
    padding: 20px;
    background-color: #af1d1d;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    color: #333;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.note:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.note:focus {
    outline: none;
    border: none;
}


.note-input {
    width: 100%;
    min-height: 40px; 
    resize: none;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
    outline: none;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
    background-color: #f9f9f9;
    overflow: auto; 
    line-height: 1.5;
    box-sizing: border-box;
    word-wrap: break-word;
}


.note-input:focus {
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.delete-btn {
    background: none;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.delete-btn:hover {
    transform: scale(1.30);
}

.color-picker-btn {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 16px;
    padding: 5px;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.color-picker-btn:hover {
    transform: scale(1.30);
}



@media screen and (max-width: 768px) {
    .note-list {
        columns: 2;
    }
}

@media screen and (max-width: 480px) {
    .note-list {
        columns: 1; 
    }
}

