 /* mail index  */
 .mails-container {
    /* grid-template-columns: 70px 250px 1fr; */
    grid-template-rows: 75px 1fr;
    color: #202124;
    width: 100%;
    height: auto;
    margin-bottom: 0;
    font-family: Roboto, Arial, sans-serif;
    height: 92vh;
    background-color: #f6f8fc;

 }

 .mails-container .logo {
    grid-column: 2;
    grid-row: 1;
    width: auto;
    height: 3em;
    align-self: center;
    justify-self: start;
    padding-left: 20px;
 }

 .btn-toggle-menu {
    width: 2em;
    height: 2em;
    align-self: center;
    justify-self: center;
 }