.flex {
    display: flex;
}

.column {
    flex-direction: column;
}

.justify-center {
    justify-content: center;
}

.align-center {
    align-items: center;
}

.space-between {
    justify-content: space-between;
}

.grid {
    display: grid;
}

.clean-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.bold{
    font-weight: bold;
}

.gray{
    color: #5f6368;
}

.btn {
    background-color:transparent;
    color: #444444;
    font-size: 1em;
    /* padding: 0.35em 0.85em; */
    border: none;
    cursor: pointer;
    border-radius: 2em;
}

.blue-btn{
    background-color:rgb(92, 173, 255);
    color: aliceblue;
}

.btn:hover{
    background-color:rgba(128, 128, 128, 0.2);
}

.blue-btn:hover {
    background-color: rgba(30, 143, 255, 0.801);
}