
.home{
   display: flex;
   align-items: center;
   justify-content: center;
   font-family: Roboto, Arial, sans-serif;
   font-size: 0.8em;
   margin-top: 10em;
   gap: 4em;
 }

 .home img{
    width: 18em;
    border-radius: 40%;
 }

 .home h1 {
   font-size: 3em;
} 

.home h6 {
   font-size: 1em;
   color: rgba(0, 0, 0, 0.678);
 } 

 